@media (max-width: 1190px ) {
/* body */
.local-title {
    font-size: 2.4rem;
    line-height: 4rem;
}
.main-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
}
.text-small {
    font-size: 1.1rem;
}

/* ヘッダー*/
.header-subtitle {
    font-size: 1.2rem;
    letter-spacing: normal;
}
.header-contact {
    font-size: 1.2rem;
    letter-spacing: normal;
    padding: 1.4rem 4rem;
    border-radius: 2.5rem;
}

/* top */
.top-title {
    font-size: 2.4rem;
    line-height: 5rem;
    padding-top: 10rem;
}

/* conversation */
.lets-start {
    padding: 2rem;
}
.con-em {
    font-size: 1.4rem;
}
.request-btn {
    width: 85%;
    margin: 2rem auto 4rem;
    padding: 2.8rem 0;
    font-size: 1.8rem;
}

/* intro */
.intro {
    padding-bottom: 16rem;
}

/* about-second */
.step {
    display: block;
    width: 40%;
    margin: 0 auto 2rem;
}
.step-title {
    margin: 1rem auto 2rem;
    padding: .4rem;
    border-radius: .5rem;
}
.step-subtitle {
    margin: 3rem;
    font-size: 1.2rem;
}
.step-text {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

/* learning */
.isara::after {
    font-size: 1.4rem;
}
.last-p {
    font-size: 1.4rem;
}

/* merits */
.merits {
    margin-top: 1.5rem;
}
.merit {
    margin: 0 2rem;
}
.merit-img-max {
    display: none;
}
.merit-img-res {
    display: block;
}
.merit-text {
    font-size: 1.4rem;
    line-height: 2rem;
}
.support-text {
    font-size: 1.4rem;
}
.support-attention {
    padding: 0 1rem 2rem;
    font-size: 1.2rem;
    letter-spacing: normal;
}

/* member */
.members-subtitle {
    margin-top: 3rem;
    font-size: 1.4rem;
}
.member {
    width: 45%;
}
.member-description {
    font-size: 1.4rem;
}

/* contents */
.contents-tables {
    margin: 2rem auto 0;
    font-size: 1.4rem;
}
.contents-table {
    flex-basis: 23%;
    margin: 3rem 3rem 7rem 0;
}
.contents-table th {
    font-size: 1.6rem;
}

/* flows */
.flow {
    width: 90%;
}
.fr-text-m {
    font-size: 1.4rem;
}
.fr-text-s {
    font-size: 1.2rem;
}

/* bangkok */
.bangkok {
    padding: 6rem 5rem;
}
.bangkok-title {
    font-size: 2.3rem;
}
.bangkok-first-txt {
    font-size: 1.2rem;
    letter-spacing: normal;
}
.bangkok-point {
    font-size: 1.4rem;
}
.bangkok-last-text {
    font-size: 1.6rem;
    padding: 0;
}

/* benefits */
.benefits-tokuten-title {
    width: 37%;
    font-size: 2.4rem;
}
.benefits-subtitle {
    font-size: 1.4rem;
}
.benefits-box {
    width: 90%;
}
.benefit-title {
    font-size: 2.4rem;
}

/* message-box */
.message-subtitle {
    font-size: 1.6rem;
    padding-bottom: 6rem;
}
.message-box {
    width: 90%;
}

/* purpose */
.purpose-title {
    font-weight: normal;
}
.purpose-main {
    font-weight: normal;
}


/* qa */
.qa-box {
    width: 90%;
}
.questions label {
    font-size: 1.6rem;
}
.qa-contents {
    font-size: 1.4rem;
}
.qa-text {
    padding: 1.4rem 0 3rem;
}
.questions label:after {
    font-size: 2.2rem;
}

}