* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo,  "MS PGothic", sans-serif;
    color: #333;
    text-align: center;
    font-size: 1.4em;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.page-top {
    top: 0;
    right: 0;
}
.page-top-btn {
    display: block;
    width: 7rem;
    height: 7rem;
    line-height: 8rem;
    position: fixed;
    right: 5rem;
    bottom: 10rem;
    background-color: #ECECEC;
}
.fa-chevron-up {
    text-decoration: none;
    color: #333;
    font-size: 3rem;
}
.local-title {
    display:inline;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: .2rem;
    padding: 1rem 0;
}
.main-text {
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 3rem;
}
.sp-main-text {
    font-size: 1.2rem;
}
.text-small {
    font-size: 1.2rem;
    font-weight: lighter;
}
.bold {
    font-weight: 600;
}
.key-color {
    color: #ebb94d;;
}
.r-br {
    display: none;
}
.brackets {
    margin: 0 auto;
    width: 860px;
    max-width: calc(100% - 40px);
    position: relative;
    padding: 3rem 2rem;
}
.brackets:before, 
.brackets:after {   
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
}
.brackets:before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}
.brackets:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}
.brackets-white {
    margin: 0 auto;
    width: 860px;
    max-width: calc(100% - 40px);
    position: relative;
    padding: 3rem 2rem;
}
.brackets-white:before, 
.brackets-white:after {   
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
}
.brackets-white:before {
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}
.brackets-white:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}
.orange {
    color: #ebb94d;
}
.bold {
    font-weight: bold;
}

/* ヘッダーここから */
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
.header-box {
    width: 1170px;
    margin: 0 auto;
    height: 8rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.header-logo {
    width: 13rem;
}
.header-subtitle {
    margin: 0 0 .8rem .5rem; 
    font-weight: bold;
    letter-spacing: .1rem;
}
.header-contact {
    background-color: #DA6B64;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 5rem;
    border-radius: 2.5rem;
}
.header-btn {
    display: none;
}

/* top*/
.top {
    margin-top: 8rem;
}
.cover-img {
    width: 100%;
    height: 50rem;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-title {
    font-size: 2.8rem;
    letter-spacing: .1rem;
    line-height: 6rem;
    padding-top: 7rem;
}
.top-logo {
    width: 32rem; 
}
.top-subtitle {
    margin-top: 3rem;
    font-weight: bold;
    line-height: 2rem;
}

/* conversationここから */
.conversation {
    background-color: #EBB94D;
    color: #fff;
    text-align: center;
    line-height: 2rem;
}
.lets-start {
    padding: 3rem 0 2rem;
}
.con-em {
    background-color: #fff;
    color: #C8394F;
    font-size: 1.8rem;
    padding: .2rem;
    border-radius: .4rem;
}
.request-btn {
    display: block;
    width: 70%;
    margin: 6rem auto;
    background-color: rgb(218, 107, 100);
    cursor: pointer;
    color: #fff;
    padding: 4rem 0;
    font-size: 3rem;
    letter-spacing: .2rem;
    border-radius: 6rem;
}
.request-btn:hover {
    background-color: rgb(216, 64, 53);
}
.terms-text {
    margin-bottom: 3rem;
}
.social-wrap {
    padding-bottom: 3rem;
}
.sc-btn {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 .1rem;
    padding: .5rem .5rem;
    border-radius: .3rem;
}
.twitter {
    background-color: #3C95E0;
}
.fb-good, 
.fb-share {
    background-color: #4267B2;
}

/* intro */
.intro {
    background-image: url(../img/introbottom.jpg);
    background-size: cover;
    background-position: center center;
    padding: 3rem 0 14rem;
}
.em-second {
    font-weight: 600;
    background: linear-gradient(transparent 70%, #EBB94D 70%);
}

/* about */
.about {
    background-color: #FEF5E0;
    padding-bottom: 6rem;
}
.about-logo {
    margin: 0 auto;
    background-color: #EBB94D;
    color: #fff;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -4rem;
}
.about-subtitle {
    padding-bottom: 3rem;
}
.skills {
    width: 1170px;
    max-width: calc(100% - 40px);
    background-color: #fff;
    margin: 0 auto;
    padding: 4rem 0;
    border: .2rem solid #ebb94d;
}
.skill {
    display: inline-block;
    text-align: center;
    padding: 2rem;
}
.skill-text {
    padding-top: 1rem;
    line-height: 2rem;
}

/* about-secondここから */
.about-second {
    background-image: url(../img/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 5rem 0 3rem;
}
.as-subtitle {
    padding-top: 1rem;
}
.steps {
    margin: 2.5rem auto;
}
.step {
    display: inline-block;
    width: 30%;
    background-color: #fff;
    color: #333;
    margin: 0 .5rem;
    padding: 2.5rem 1.6rem;
    border-radius: .5rem;
}
.step-title{
    background-color: #ebb94d;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    padding: .4rem;
    border-radius: .5rem;
}
.step-subtitle {
    margin: 3rem 0;
    font-size: 1.4rem;
}
.step-text {
    margin: 3rem 0 0;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

/* about-thirdここから */
.about-third {
    background-color: #2A6FA9;
    color: #fff;
    padding: 4rem 0;
}

/* learningここから */
.learning {
    margin: 6rem auto 5rem;
}
.learning-subtitle {
    margin-top: 3rem;
}
.isara::after {
    content: '[イサラ]';
    font-size: 2rem;
}
.learn-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 4rem auto 5rem;
    max-width: calc(100% - 4rem);
}
.learn-icons-img {
    width: 18rem;
    height: auto;
    max-width: 100%;
    /* ↓ FlexBoxで可変要素がはみ出ないようにする */
    min-width: 0; 
    max-height: 100%;
    margin: 0 2rem;
}
.last-p {
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

/* merits */
.merits-wrap {
    background-color: #FEF5E0;
    padding-top: 2rem;
}
.merits-subtitle {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.merits {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.merit {
    margin: 0 1rem;
    width: 25%;
}
.merit-img-res {
    display: none;
}
.merit-title {
    text-align: left;
    padding: 1rem 0;
    color: #ebb94d;
    font-size: 1.9rem;
    letter-spacing: .2rem;
}
.merit-text {
    text-align: left;
    padding: .5rem 0;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}
.merits-support {
    width: 90%;
    background-color: #fff;
    margin: 3rem auto;
    padding: 2rem 2rem 5rem;
    border: .2rem solid #ebb94d;
    border-radius: .5rem;
}
.support-text {
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}
.support-attention {
    margin: 0 auto;
    padding: 1rem 4rem 5rem;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: .1rem;
}

/* members */
.members {
    background-image: url(../img/teacherbg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 8rem 0 2rem;
}
.members-title {
    margin-bottom: 2rem;
    font-weight: normal;
}
.members-subtitle {
    margin-top: 2rem;
    font-size: 1.6rem;
    letter-spacing: .2rem;
}
.member-wrap {
    width: 80%;
    margin: 0 auto 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.member {
    width: calc(100% / 2);
    max-width: 40rem;
}
.member-img-wrap {
    position: relative;
    bottom: -8%;
}
.member-img {
    border-radius: 50%;
}
.member-description {
    font-size: 1.6rem;
    border: .3rem solid #fff;
    margin: 2rem 1.5rem 0;
    padding: 3rem;
    line-height: 2.5rem;
    letter-spacing: .1rem;
}
.mb-text {
    margin: 1rem;
}
.left {
    text-align: left;
}

/* qaここから */
.qa {
    background-color: #ebb94d;
    color: #fff;
    padding: 3rem;
}
.qa-logo {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    background-color: #fff;
    color: #ebb94d;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 300;
}
.triangle {
    width: 3rem;
    height: 3rem;
    margin: 0 auto 1rem;
    border-top: 3rem solid #ebb94d;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
}

/* voiceここから */
.voices {
    padding-bottom: 3rem;
}
.voices-subtitle {
    margin: 2rem;
}
.comment {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.voice {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}
.voice-img {
    border: .3rem solid #ebb94d;
    flex-basis: 25rem;
}
.voice-right {
    width: 35%;
    margin: 1rem 0 2rem 3rem;
    text-align: left;
    color: #999;
    font-size: 1.8rem;
    line-height: 3rem;
    font-style: italic;
}
.name {
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 1rem;
}

/* content */
.contents {
    background-image: url(../img/classbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0 1rem;
    color: #fff;
}
.contents-subtitle {
    margin: 2rem 0;
    font-size: 1.6rem;
}
.contents-tables {
    margin: 4rem auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.6rem;
}
.contents-table {
    flex-basis: 38rem;
    margin: 3rem 1.6rem 7rem;
    border-collapse: separate;
    border-spacing: 0;
    border: .2rem solid #2B6EA9;
    border-radius: .5rem;
    overflow: hidden;
}
.contents-table th,
.contents-table td {
    padding: 1.8rem 1.2rem;
    letter-spacing: .1rem;
}
.contents-table th {
    background-color: #2B6EA9;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    border-bottom: .1rem solid #2B6EA9;
}
.contents-table td {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-bottom: .1rem dotted #e5e5e5;
}

/* contents-secondここから */
.contents-second {
    background-color: #2B6EA9;
    color: #fff;
    padding: 4rem 0;
}

/* flowsここから */
.flows {
    padding: 5rem 0;
}
.flow-icon {
    padding: 5rem 0;
}
.flow {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #FEF5E0;
    padding: 2rem 5rem;
    border-radius: 1rem;
}
.flow-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 20rem;
}
.fl-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 2rem;
    line-height: 3rem;
}
.flow-right {
    flex-basis: 80%;
    text-align: left;
    margin-left: 20px;
}
.fr-text-m {
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}
.fr-text-s {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
}
.flow-line {
    width: 60%;
    margin: 0 auto;
}
.flows-ac {
    display: none;
}
    /* スマホ　アコーディオンメニュー */
    .flows-acd {
        display: block;
        padding: 3rem 0;
    }

/* bangkok */
.bangkok {
    background-image: url(../img/bangkokbg.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    color: #fff;
    padding: 8rem 10rem 8rem;
}
.bangkok-title {
    font-size: 2.5rem;
    letter-spacing: .2rem;
}
.bangkok-first-text {
    padding: 3rem 0;
    line-height: 2rem;
    letter-spacing: .1rem;
}
.bangkok-point {
    font-size: 1.6rem;
    padding-bottom: 2rem;
}
.bangkok-last-text {
    font-size: 2rem;
    margin: 2rem 0;
}

/* benefitsここから */
.benefits {
    background-color: #F7C23E;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.benefits-subtitle {
    font-size: 1.6rem;
    margin: 4rem 0;
    letter-spacing: .2rem;
}
.white {
    color: #fff;
}
.benefits-tokuten-title {
    width: 45%;
    font-size: 2.6rem;
    line-height: 3.4rem;
    letter-spacing: .1rem;
    margin: 0 auto;
    background-color: #F7C23E;
    padding: 1rem;
    position: relative;
    bottom: -2rem;
}
.benefits-box {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: .2rem solid #fff;
    padding: 5rem 2rem;
}
.benefit {
    background-color: #fff;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: relative;
}
.benefit-title {
    font-size: 2.2rem;
    color: #F7C23E;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.benefit-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 2rem 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: .1rem;
}
.rs-benefits-box {
    display: none;
}

/* purposeここから */
.purpose {
    background-image: url(../img/specialdetail.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 6rem 0;
}
.purpose-text {
    padding: 2rem 0;
    line-height: 3rem;
    letter-spacing: .2rem;
}

/* messageここから */
.message {
    padding: 5rem 0 8rem;
}
.message-subtitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 4rem 0;
}
.message-box {
    display: flex;
    width: 65%;
    margin: 0 auto;
}
.message-left {
    width: 60%;
}
.message-right {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 3rem;
}
.message-text {
    line-height: 2rem;
    letter-spacing: .1rem;
}

/* contact-formここから */
.app-for-brochures {
    padding: 5rem 0;
    padding-bottom: 5rem;
    background-color: #EBB94D;  
}
.contact-form-text {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 3rem 0;
    letter-spacing: .1rem;
}
.contact-item {
    margin: 0 auto;
}
.contact-info {
    width: 70%;
    height: 5rem;
    margin: 1.4rem 0;
    font-size: 1.4rem;
    border-style: none;
    border-radius: .5rem;
}
.contact-notes {
    width: 70%;
    height: 10rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    border-style: none;
    border-radius: .5rem;
}
.contact-submit {
    background-color: #DA6B64;
    width: 70%;
    padding: 1.4rem 0;
    border-radius: 3rem;
    border-style: none;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    cursor: pointer;
}

/* questions */
/* 全体 */
.questions {
    padding: 5rem;
}
.qa-box {
    display: block;
    margin: 5rem auto 6rem;
    padding: 0;
    width: 75%;
}
.blue {
    color: #2A6FA9;
}
    /* チェックを隠す */
.questions input {
    display: none;
}
    /* ラベル */
.questions label {
    display: block;
    margin: 0;
    padding: 2rem 1.5rem;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    border: .2rem solid #E5E5E5;
    border-radius: .2rem;
    letter-spacing: .2rem;
}
.questions label:hover {
    text-decoration: underline;
}
    /* 中身 + 非表示 */
.qa-contents {
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    transition: 0.5s;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
    text-align: left;
    margin-bottom: .2rem;
}
.qa-text {
    border-bottom: .1rem solid #e5e5e5;
    padding: 2rem 0 3rem;
}
    /* チェック後 + 表示 */
.questions input:checked + label + .qa-contents {
    height: auto;
    padding: 1rem 2rem 0;
}
    /* 矢印アイコン */
.questions label:after {
    float: right;
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    color: #E5E5E5;
    font-size: 2.8rem;
    font-weight: 900;
    padding-right: 1rem;
}
.questions input:checked + label:after {
    content: '\f106';
}

/* footerここから */
footer {
    padding: 3rem;
    background-color: #ECECEC;
}
.footer-text {
    font-size: .3rem;
    line-height: 1.8rem;
    letter-spacing: .2rem;
}
.ft-social-wrap {
    padding: 2rem 0 4rem;
}