* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo,  "MS PGothic", sans-serif;
    color: #333;
    text-align: center;
    font-size: 1.4em;
}
.wrap {
    padding-top: 8rem;
}
.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, p {
    font-size: 100%;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.page-top {
    width: 0;
    height: 0;
}
.back-top {
    width: 7rem;
    height: 7rem;
    position: fixed;
    right: 5rem;
    bottom: 10rem;
    background-color: #ECECEC;
    
}
.back-top a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 3rem;
    line-height: 7rem;
}
.fa-chevron-up {
    text-decoration: none;
}
.txtl {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 5rem;
}
.txtm {
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 3rem;
}
.txtxs {
    font-size: 1.2rem;
    font-weight: lighter;
}
.r-br {
    display: none;
}
.brackets {
    margin: 0 auto;
    width: 75%;
    position: relative;
    padding: 3rem 2rem;
}
.brackets:before, 
.brackets:after {   
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
}
.brackets:before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}
.brackets:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}
.brackets-white {
    margin: 0 auto;
    width: 75%;
    position: relative;
    padding: 3rem 2rem;
}
.brackets-white:before, 
.brackets-white:after {   
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
}
.brackets-white:before {
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}
.brackets-white:after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.orange {
    color: #ebb94d;
}
.bold {
    font-weight: bold;
}
/* ヘッダーここから */
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
.header-box {
    width: 1170px;
    margin: 0 auto;
    height: 8rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.header-left-img img{
    width: 13rem;
}
.subtitle {
    margin: 0 0 .8rem .5rem; 
    font-weight: bold;
    letter-spacing: .1rem;
}
.hr-txt p {
    background-color: #DA6B64;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 5rem;
    border-radius: 2.5rem;
}
.hr-btn {
    background-color: #DA6B64;
    color: #fff;
    display: none;
}
.hr-btn P {
    color: #fff;
    font-size: 12px;
}

/* top*/
.cover-img {
    width: 100%;
    height: 50rem;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-title {
    padding-top: 9rem;
}
.top-logo img {
    width: 32rem; 
    margin: 1rem 0 5rem 0;
}
.top-subtitle {
    font-weight: bold;
    line-height: 2rem;
}

/* conversationここから */
.conversation {
    background-color: #EBB94D;
    color: #fff;
    text-align: center;
    line-height: 2rem;
}
.lets-start {
    padding: 3rem 0 2rem;
}
.con-em {
    background-color: #fff;
    color: #C8394F;
    font-size: 1.8rem;
    font-weight: 600;
    padding: .2rem;
    border-radius: .4rem;
}
.request {
    width: 90%;
    margin: 0 auto;
}
.request a {
    display: block;
    margin: 6rem auto;
    background-color: rgb(218, 107, 100);
    cursor: pointer;
    color: #fff;
    padding: 4rem 0;
    font-size: 3rem;
    letter-spacing: .2rem;
    border-radius: 6rem;
}
.request a:hover {
    background-color: rgb(216, 64, 53);
}
.terms p {
    margin-bottom: 3rem;
}
.social-wrap {
    padding-bottom: 3rem;
}
.sc-btn {
    background-color: #3C95E0;
    color: #fff;
    font-size: 1.2rem;
    margin: 0 .1rem;
    padding: .5rem .5rem;
    border-radius: .3rem;
}
.fb-good, .fb-share {
    background: #4267B2;
}

/* intro */
.intro {
    background-image: url(../img/introbottom.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 4rem;
    padding-bottom: 14rem;
}
.intro p {
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 3rem;
}
.em-second {
    font-weight: 600;
    background: linear-gradient(transparent 70%, #EBB94D 70%);
}

/* about */
.about {
    background-color: #FEF5E0;
    padding-bottom: 6rem;
}
.about-title {
    margin: 0 auto;
    background-color: #EBB94D;
    color: #fff;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -4rem;
}
.about h2 {
    margin: 2rem auto;
    width: 70%;
}
.about-title2 {
    padding-bottom: 3rem;
    font-weight: 600;
}
.skills {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 4rem 0;
    border: .2rem solid #ebb94d;
}
.skills h3 {
    margin: 1rem 0;
    font-weight: 600;
}
.skill {
    display: inline-block;
    text-align: center;
    padding: 1rem;
}
.skill p {
    line-height: 2rem;
}

/* about-secondここから */
.about-second {
    background-image: url(../img/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 3rem 0;
}
.about-second h2 {
    padding: 2rem 0 1rem;
    font-weight: normal;
}
.about-second h3 {
    padding: 1.2rem;
    line-height: 2rem;
}
.steps {
    margin: 2.2rem auto;
}
.step {
    display: inline-block;
    width: 30%;
    background-color: #fff;
    color: #333;
    margin: 0 .5rem;
    padding: 2.5rem 1.6rem;
    border-radius: .5rem;
}
.step p {
    font-weight: 600;
}
.step-title{
    background-color: #ebb94d;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    padding: .4rem;
    border-radius: .5rem;
}
.step-subtitle {
    margin: 3rem 0;
    font-size: 1.4rem;
}
.step-txt {
    margin: 3rem 0 0;
    font-size: 1.6rem;
}

/* about-thirdここから */
.about-third {
    background-color: #2A6FA9;
    color: #fff;
    padding: 4rem 0;
}
.about-third p {
    font-size: 2rem;
    line-height: 3rem;
}

/* learningここから */
.learning {
    padding-bottom: 5rem;
}
.learning h2 {
    margin: 6rem 0 4rem;
}
.isara::after {
    content: '[イサラ]';
    font-size: 2rem;
}
.learning p {
    margin: 2rem 0 5rem;
    line-height: 2.5rem;
}
.learn-icons {
    margin: 0 auto 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.learn-icons img {
    display: block;
    max-width: 20rem;
    width: 20%;
    margin: 0 auto;
}
.last-p {
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

/* merits */
.merits-wrap {
    background-color: #FEF5E0;
    padding-top: 3rem;
}
.merits {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.merits-subtitle {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.merit {
    width: 30%;
    margin: 0 1.5rem;
}
.merit-title {
    text-align: left;
    color: #ebb94d;
    font-size: 2rem;
    font-weight: normal;
    padding: 1rem 0;
}
.merit-text p {
    text-align: left;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2.5rem;
}
.merits-support {
    width: 100%;
    background-color: #fff;
    margin: 3rem auto;
    padding: 2rem 2rem 5rem;
    border: .2rem solid #ebb94d;
    border-radius: .5rem;
}
.support-title {
    color: #ebb94d;
    font-size: 2.8rem;
    font-weight: bold;
    padding: 2rem 0 1rem;
}
.merits-support h3 {
    margin: 1rem;
}
.merits-support P {
    margin: 1rem;
    font-weight: bold;
}
.support-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.support-attention {
    margin: 0 auto;
    padding: 0 4rem 5rem;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 2rem;
}

/* members */
.members {
    background-image: url(../img/teacherbg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 8rem 0 2rem;
}
.members h2 {
    margin-bottom: 3rem;
    font-weight: normal;
}
.member-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.member {
    width: 40%;
    max-width: 40rem;
}
.member-img {
    position: relative;
    bottom: -10%; 
}
.member img {
    border-radius: 50%;
}
.member-description {
    font-size: 1.6rem;
    border: .3rem solid #fff;
    margin: 2rem 1.5rem 0;
    padding: 3rem;
    line-height: 2.5rem;
    letter-spacing: .1rem;
}
.member-description p {
    margin: 1rem;
}
.left {
    text-align: left;
}

/* qaここから */
.qa {
    background-color: #ebb94d;
    color: #fff;
    padding: 3rem;
}
.qa-title {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    background-color: #fff;
    color: #ebb94d;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 300;
}
.qa h2 {
    font-weight: normal;
    line-height: 4rem;
}
.triangle {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border-top: 3rem solid #ebb94d;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
}

/* voiceここから */
.voices {
    padding-bottom: 3rem;
}
.voices h2 {
    margin: 2rem;
}
.comment {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.voices-txt {
    letter-spacing: .2rem;
    font-size: 1.4rem;
}
.voice {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}
.voice-img {
    border: .3rem solid #ebb94d;
    flex-basis: 25rem;
}
.voice-right {
    width: 45%;
    margin: 1rem 0 2rem 3rem;
    text-align: left;
    color: #777;
    font-size: 1.8rem;
    line-height: 3rem;
    font-style: italic;
}
.name {
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 1rem;
}

/* content */
.contents {
    background-image: url(../img/classbg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.contents h2 {
    font-weight: normal;
    padding: 5rem 0 2rem;
}
.contents p {
    font-size: 1.6rem;
}
.tables {
    margin: 4rem auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.6rem;
}
.table {
    flex-basis: 38rem;
    margin: 3rem 1.6rem 7rem;
    border-collapse: separate;
    border-spacing: 0;
    border: .2rem solid #2B6EA9;
    border-radius: .5rem;
    overflow: hidden;
}
.table th,
.table td {
    padding: 1.8rem 1.2rem;
    letter-spacing: .1rem;
}
.table th {
    background-color: #2B6EA9;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    border-bottom: .1rem solid #2B6EA9;
}
.table td {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-bottom: .1rem dotted #e5e5e5;
}

/* contents-secondここから */
.contents-second {
    background-color: #2B6EA9;
    color: #fff;
    padding: 4rem 0;
}

/* flowsここから */
.flows {
    padding: 4rem 0;
}
.flow-icon {
    padding: 3rem;
}
.flow {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #FEF5E0;
    padding: 2rem 5rem;
    border-radius: 1rem;
}
.flow-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 20rem;
}
.flow-left p {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 2rem;
}
.flow-right {
    flex-basis: 80%;
    text-align: left;
    margin-left: 20px;
}
.flow-right p {
    margin: 2rem 0;
}
.fr-bold {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.fr-txt {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
}
.flowline {
    width: 60%;
    margin: 0 auto;
}
.flows-ac {
    display: none;
}
    /* スマホ　アコーディオンメニュー */
    .flows-acd {
        display: block;
        padding: 3rem 0;
    }

/* bangkok */
.bangkok {
    background-image: url(../img/bangkokbg.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    color: #fff;
    padding: 5rem 0 8rem;
}
.bangkok h2 {
    font-size: 2.4rem;
    margin: 4rem 0 3rem 3rem;
}
.bangkok-first-txt {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
}
.bangkok p {
    margin: 2rem 0 0 2rem;
}
.bangkok-bold {
    font-size: 1.6rem;
    font-weight: bold;
}
.bangkok-last-txt {
    font-size: 2rem;
}

/* benefitsここから */
.benefits {
    background-color: #F7C23E;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.benefits h2 {
    margin: 2rem 0 4rem;
}
.benefits-subtitle {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}
.white {
    color: #fff;
}
.benefits-title {
    width: 50%;
    margin: 0 auto;
    background-color: #F7C23E;
    padding: 1rem;
    position: relative;
    bottom: -4rem;
}
.benefits-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: .2rem solid #fff;
    padding: 5rem 2rem;
}
.benefit {
    background-color: #fff;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: relative;
}
.benefit-title {
    font-size: 2.2rem;
    color: #F7C23E;
    padding: 1rem 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.benefit-txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 2rem 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
}
.rs-benefits-box {
    display: none;
}

/* purposeここから */
.purpose {
    background-image: url(../img/specialdetail.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding-bottom: 6rem;
}
.purpose h1 {
    font-size: 2.8rem;
    margin: 2rem auto;
    font-weight: normal;
}
.purpose h2 {
    margin: 0 auto;
    padding: 5rem 0 2rem;
}
.purpose-sub {
    line-height: 3rem;
    font-size: 2rem;
}

/* messageここから */
.message {
    margin-bottom: 8rem;
}
.message-box {
    display: flex;
    padding: 4rem 12rem;
}
.message h2 {
    margin: 4rem 0 3rem;
}
.message-sub {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}
.message-left {
    width: 55rem;
}
.message-right {
    text-align: left;
    font-size: 1.4rem;
    font-weight: normal;
    padding: 0 3rem;
}
.message-right p {
    padding-bottom: 2rem;
    line-height: 2rem;
}

/* contact-formここから */
.contact-form {
    margin: 5rem 0;
    padding-bottom: 5rem;
    background-color: #EBB94D;  
}
.contact-form h2 {
    padding: 5rem 0 2rem;
}
.contact-form p {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 2rem;
}
.item {
    width: 100%;
    margin: 0 auto;
}
.item input {
    width: 60%;
    height: 5rem;
    border-radius: .5rem;
    margin: 1.4rem 0;
    font-size: 1.4rem;
    border-style: none;
}
.item textarea {
    width: 60%;
    height: 10rem;
    border-radius: .5rem;
    margin: 2rem 0;
    font-size: 1.6rem;
    border-style: none;
}
.submit input {
    background-color: #DA6B64;
    width: 60%;
    padding: 1.4rem 0;
    border-radius: 3rem;
    border-style: none;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    cursor: pointer;
}

/* questions */
    /* 全体 */
.qa-box {
    display: block;
    margin: 2rem auto 6rem;
    padding: 0;
    width: 75%;
}
.blue {
    color: #2A6FA9;
}
    /* チェックを隠す */
.questions input {
    display: none;
}
    /* ラベル */
.questions label {
    display: block;
    margin: 0;
    padding: 2rem 1.5rem;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    border: .2rem solid #E5E5E5;
    border-radius: .2rem;
    letter-spacing: .2rem;
}
.questions label:hover {
    text-decoration: underline;
}
    /* 中身 + 非表示 */
.qa-contents {
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    transition: 0.5s;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
    text-align: left;
    margin-bottom: .2rem;
}
.qa-contents p {
    border-bottom: .1rem solid #e5e5e5;
    padding: 2rem 0 3rem;
}
    /* チェック後 + 表示 */
.questions input:checked + label + .qa-contents {
    height: auto;
    padding: 1rem 2rem 0;
}
    /* 矢印アイコン */
.questions label:after {
    float: right;
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    color: #E5E5E5;
    font-size: 2.8rem;
    font-weight: 900;
    padding-right: 1rem;
}
.questions input:checked + label:after {
    content: '\f106';
}

/* footerここから */
footer {
    padding: 3rem;
    background-color: #ECECEC;
}
footer p {
    font-size: .3rem;
    line-height: 1.8rem;
}
.ft-social-wrap {
    padding: 2rem 0 4rem;
}